.xbox.white {
    background: url(base-white.png);
}

.xbox.disconnected {
    background: url(http://gamepadviewer.com/xbox-assets/disconnected.svgz);
}

.xbox.disconnected div {
    display: none;
}

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(trigger.png);
    opacity: 0;
}

.xbox .trigger.left {
    filter: sepia(100%) hue-rotate(314deg) contrast(130%) saturate(1000%);
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    filter: sepia(100%) hue-rotate(32deg) saturate(1200%);
    float: right;
    transform: rotateY(180deg);
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(bumper.png);
    opacity: 0;
}

.xbox .quadrant {
    position: absolute;
    background: url(quadrant.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .back, .xbox .start {
    background: url(start-select.png);
    width: 33px !important;
    height: 33px !important;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 33px 0px;
    float: right;
}

.xbox .stick {
    position: absolute;
    background: url(sticks.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .button {
    position: absolute;
    background: url(abxy.png);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 0px !important;
    opacity: 1;
}

.xbox .dpad {
    position: absolute;
    width: 110px;
    height: 111px;
    top: 345px;
    left: 223px;
}

.xbox .face {
    background: url(dpad.png);
    position: absolute;
    opacity: 0;
}

.xbox .a {
    background-position: 0 0;
    top: 114px;
    left: 55px;
}

.xbox .b {
    background-position: -49px 0;
    top: 63px;
    right: 0px;
}

.xbox .x {
    background-position: -98px 0;
    top: 63px;
    left: 4px;
}

.xbox .y {
    background-position: 48px 0;
    left: 55px;
    top: 13px;
}

body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}