body {
    overflow: hidden;
}

iframe {
    border-style: none;
}

* {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}